<ul>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h2>Squirrel Sightings Table</h2>	
	<table style="width:100%">
	    <tr>
		    <th>Latitude</th>
		    <th>Longitude</th>
		    <th>Unique_squirrel_id</th>
		    <th>Shift</th>
                    <th>Date</th>
                    <th>Age</th>
		    <th>Primary_Fur_Color</th>
                    <th>Location</th>
                    <th>Specific_Location</th>
		    <th>Running</th>
                    <th>Chasing</th>
                    <th>Climbing</th>
		    <th>Eating</th>
                    <th>Foraging</th>
                    <th>Other Activities</th>
		    <th>Kuks</th>
                    <th>Quaas</th>
                    <th>Moans</th>
		    <th>Tail_flags</th>
                    <th>Tail_twitches</th>
                    <th>Approaches</th>
		    <th>Indifferent</th>
                    <th>Runs_from</th>
            </tr>	
	    {% for sighting in all_sightings %}
	    <tr>	
		    <td>{{sighting.latitude}}</td>
        	    <td>{{sighting.longitude}}</td>
		    <td>{{sighting.unique_squirrel_id}}</td>
		    <td>{{sighting.shift}}</td>
		    <td>{{sighting.date}}</td>
		    <td>{{sighting.age}}</td>
		    <td>{{sighting.primary_fur_color}}</td>
		    <td>{{sighting.location}}</td>
		    <td>{{sighting.specific_location}}</td>
		    <td>{{sighting.running}}</td>
		    <td>{{sighting.chasing}}</td>
		    <td>{{sighting.climbing}}</td>
