<ul>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body>
<h2>Squirrel Sightings Table</h2>
<a href="/sightings/add/">Add Sighting</a>
<br>
<a href="/sightimgs/stats/">Sightings Stats</a>
	<table style="width:100%">
	    <tr>
		    <th>Latitude</th>
		    <th>Longitude</th>
		    <th>Unique_squirrel_id</th>
		    <th>Shift</th>
                    <th>Date</th>
                    <th>Age</th>
		    <th>Primary_Fur_Color</th>
                    <th>Location</th>
                    <th>Specific_Location</th>
		    <th>Running</th>
                    <th>Chasing</th>
                    <th>Climbing</th>
		    <th>Eating</th>
                    <th>Foraging</th>
                    <th>Other Activities</th>
		    <th>Kuks</th>
                    <th>Quaas</th>
                    <th>Moans</th>
		    <th>Tail_flags</th>
                    <th>Tail_twitches</th>
                    <th>Approaches</th>
		    <th>Indifferent</th>
                    <th>Runs_from</th>
            </tr>	
	    {% for sighting in all_sightings %}
	    <tr>	
		    <td>{{sighting.latitude}}</td>
        	<td>{{sighting.longitude}}</td>
        	<td>
                <a href="/sightings/{{sighting.unique_squirrel_id}}/">{{sighting.unique_squirrel_id}}</a>
            </td>
		    <td>{{sighting.shift}}</td>
		    <td>{{sighting.date}}</td>
		    <td>{{sighting.age}}</td>
		    <td>{{sighting.primary_fur_color}}</td>
		    <td>{{sighting.location}}</td>
		    <td>{{sighting.specific_location}}</td>
		    <td>{{sighting.running}}</td>
		    <td>{{sighting.chasing}}</td>
		    <td>{{sighting.climbing}}</td>
		    <td>{{sighting.eating}}</td>
		    <td>{{sighting.foraging}}</td>
		    <td>{{sighting.other_activities}}</td>
		    <td>{{sighting.kuks}}</td>
		    <td>{{sighting.quaas}}</td>
		    <td>{{sighting.moans}}</td>
		    <td>{{sighting.tail_flags}}</td>
		    <td>{{sighting.tail_twitches}}</td>
		    <td>{{sighting.approches}}</td>
		    <td>{{sighting.indifferent}}</td>
		    <td>{{sighting.runs_from}}</td>
		 </tr>
		 {% endfor %}
	</table>
</body>
</ul>
